{% if card == true %}
    <div class="card h-100 p-4 card-secondary">
{% else %}
    <div class="card-secondary h-100 py-4 px-2">
{% endif %}

        {% if request.user.is_authenticated %}
        <form action="{% url 'toggle_from_wishlist' product.id %}" method="POST">
            {% csrf_token %}
            <button class="top-left wishlist">                
                {% if product in wishlist.products.all %}
                <i class="fa-solid fa-heart"></i>
                {% else %}
                <i class="fa-regular fa-heart d-none"></i>
                {% endif %}
            </button>
        </form>
        {% endif %}

        <a class="card-anchor" href="{% url 'product_detail' product.id %}">
            <div class="row">
                <div class="product-card col-12 col-md-{{medium_cols}} col-lg-12">
                    <div class="image-wrapper m-0">
                        <div class="product-title">{{ product }}</div>
                        {% if product.is_discounted %}
                        <div class="top-right">{% include 'snippets/sale-badge.html' with savings=product.savings %}</div>
                        {% endif %}
                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="Image for {{ product.name }}">{{ MEDIA.URL }}
                    </div>
                </div>
                <div class="col-12 col-md-{{medium_cols}} col-lg-12 mt-1 mt-lg-4">
                    <div class="row text-center">
                        <div class="col-12">
                            {% include 'snippets/price.html' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include 'snippets/rating.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

