{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4">Discounts</h2>
                <div class="row text-center mb-5">
                    <div class="col-12">
                        <a href="{% url 'add_discount' %}" class="btn btn-soft">Create discount</a>
                    </div>
                </div>
                <div class="row code-header mt-5 mb-2 discount-header">
                    <div class="col-4 col-md-3 offset-md-2">
                        Name
                    </div>
                    <div class="col-4 col-md-3">
                        Code
                    </div>
                    <div class="col-2 col-md-2">
                        Value
                    </div>
                    <div class="col-1 col-md-1">
                    </div>
                </div>

                {% for discount in discounts %}
                <div class="row code-row">
                    <div class="col-4 col-md-3 offset-md-2">
                        {{ discount }}
                    </div>
                    <div class="col-4 col-md-3">
                        {{ discount.code }}
                    </div>
                    <div class="col-2 col-md-2">
                        {{ discount.amount }}{{ discount.get_type_display }}
                    </div>
                    <div class="col-1 col-md-1">
                        <div class="  ">
                            <a class="remove-item icon-secondary" href="{% url 'delete_discount' discount.id %}" data-product_size="{{ item.size }}"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <hr>
            </div>
        </div>

    </div>
{% endblock %}