{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 logo-font text-black p-3 w-100 text-center">About us</h1>
    </div>
    <div class="row mx-5 mt-0">
        <div class="col-12 col-md-6 offset-md-3 min-content">
            <p>
                Created in 2019, Vespre is a tee-shirt store with designs reminiscent of sunsets. 
                The word Vespre - <i>Sunset</i> in Catalan - serves as vehicle and inspiration for the
                designer and owner to create designs based on his main intetests. Ranging from world 
                landmarks, inspiring settings and pop culture references, we're sure you will find something
                for you!
            </p>
            <p>
                All our tees are made with just cotton. Well, not just cotton, one of the highest quality 
                cotton you can find! Built with open-end yarn, its tubular design make it so it will endure 
                even the harshest wearing and washing conditions.

                Vespre tees taped neck and shoulders and double seamed sleeves and bottom make our tees one
                of the most durable you can find in the market! 
            </p>
            <p> 
                Be sure to shoot out an email to us at 
                <a href="mailto:info@vespre-store.com">info@vespre-store.com</a> with any questions you may have!
            </p>
        </div>
    </div>
</div>

{% endblock %}