{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 logo-font text-black p-3 w-100 text-center">Shipping Policy</h1>
    </div>
    <div class="row mx-5 mt-0">
        <div class="col-12 col-md-6 offset-md-3 min-content">
            For information on our shipping policies, see our Print on demand partner's policies - <a href='https://www.printful.com/policies'>Printful Policies</a>
        </div>
    </div>
</div>

{% endblock %}