    <div class="container h-100" >
        <div class="row h-100 px-3">
            <h1 class="display-4 logo-font text-black p-3 w-100 text-center">About our tees</h1>
        </div>
        <div class="row px-4">
            <div class="col-12 col-md-6">
                <img src="{{ MEDIA_URL }}vespre-astronaut-tee.webp" class="image-fill">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <p>
                    Vespre tees are built with just cotton. Well, not just cotton, the most high quality cotton. 
                    Built with open-end yarn, its tubular design make it so it will endure even the harshest
                    wearing and washing conditions.
    
                    Vespre tees taped neck and shoulders and double seamed sleeves and bottom make our tees one
                    of the most durable you can find in the market! 
                </p>

                <p>
                    All designs are insipred by the word Vespre (meaning sunset in Catalan) and created by Pablo S. 
                    and include a collection of the artist's main intetests. Ranging from world landmarks, inspiring 
                    settings and to pop culture references. We're sure you'll find something for you!
                </p>
                <div class="highlighted-anchor">
                    <a href="{% url 'about_us' %}">Learn more about us > </a>
                </div>
            </div>
        </div>
 
    </div>
