<div id="section-featured">
    <div class="container h-100" >
        <div class="row h-100 px-3">
            <h1 class="display-4 logo-font text-black p-3 w-100 text-center">About our tees</h1>
        </div>
        <div class="row px-4">
            <p>Tortor dignissim convallis aenean et tortor at. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Tellus pellentesque eu 
                tincidunt tortor aliquam nulla. Id ornare arcu odio ut sem nulla pharetra diam. Et magnis dis parturient montes nascetur ridiculus. 
                Morbi tempus iaculis urna id volutpat lacus laoreet non. Et malesuada fames ac turpis egestas sed tempus. Aliquam ultrices sagittis 
                orci a. Urna molestie at elementum eu facilisis sed odio morbi quis. Ultricies mi quis hendrerit dolor magna eget est. Morbi tristique 
                senectus et netus et malesuada fames ac.
                <br>
                Commodo elit at imperdiet dui accumsan sit amet nulla. Pulvinar mattis nunc sed blandit libero volutpat sed. A arcu cursus vitae congue 
                mauris rhoncus aenean vel elit. Est placerat in egestas erat imperdiet sed euismod nisi porta. Platea dictumst vestibulum rhoncus est. 
                Massa ultricies mi quis hendrerit dolor magna eget. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Nunc aliquet 
                bibendum enim facilisis. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Bibendum ut tristique et egestas quis ipsum suspendisse. 
                Gravida in fermentum et sollicitudin ac orci phasellus. Id nibh tortor id aliquet lectus proin nibh nisl condimentum. Tellus in metus vulputate 
                eu scelerisque felis imperdiet proin. Tellus orci ac auctor augue mauris. Convallis aenean et tortor at risus viverra adipiscing at in.</p>
        </div>

        </div>
    </div>
</div>