<div id="section-featured" class="background-gradient">
    <div class="container h-100 section-narrow" >
        <div class="row h-100">
            <div class="col-12 col-md-6 col-lg-4 my-auto card p-3">
                <h1 class="display-4 logo-font text-black p-3">Featured products</h1>
                <p class="p-3">See all our discounts. Up to PLACEHOLDER in to celebrate this summer! </p>
                <div class="mt-4 text-center">
                    <h4>
                        <a href="" class="btn btn-primary">See all products</a>
                    </h4>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row h-100 p-4">
                    <div class="col-6 col-md-12 col-lg-6"><div class="card h-100">{{ products.0 }}</div></div>
                    <div class="col-6 col-md-12 col-lg-6 pt-md-3 pt-lg-0"><div class="card h-100">{{ products.1 }}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>