<div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thank you for subscribing!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Thank you for registering for our newsletter, use <span class="discount-info">TESTDISCOUNT</span> at checkout to celebrate the occasion with a 10% off your order 🎉
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="footer">
    <div class="row">
        <div class="col-12 col-md-6 px-5">
            <h6>Other resources</h6>
            <ul>
                <li><a href="">Shipping Policy</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Refund Policy</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 px-5">
            <h6>Want to know more?</h6>
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="https://github.com/Khalanar?tab=repositories" target="_blank">Other projects</a></li>
                <li>Register to our newsletter!</li>
                
                <div class="footer-input" >
                <input id="email" type="email" class="rounded-l form-control" required>
                <div class="input-group-append">
                    <a href="#subsModal" class="btn-floating waves-effect red lighten-3 waves-light rounded-r" data-toggle="modal" data-target="#subsModal" aria-label="Signup Newsletter">
                        <i class="fa-solid fa-envelope rounded-r"></i>
                    </a>
                </div>


                    
       
                </div>
            </ul>

            
        </div>
    </div>
    <div class="row">

        <div class="col-12 text-right pt-1">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/vespredesign" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/vespre_design/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://github.com/khalanar" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <!-- <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>                -->
            </ul>
        </div>
        <div class="col-12 text-center">
            © 2022, all rights reserved by Vespre
        </div>
       
    </div>
</div>
