<div id="section-featured">
    <div class="container-fluid">
        <div class="row">
            <h1 class="display-4 logo-font text-black p-3 w-100 text-center">More by Vespre</h1>
        </div>

     
            {% include 'snippets/product-grid.html' %}
    
        <div class="row">
            <div class="mt-4 text-center w-100">
                <!-- this redirects to url for discount sorting -->
                <a href="{% url 'products' %}" class="btn btn-primary">See all products</a> 
            </div>
        </div>

    </div>
</div>