/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500&display=swap');

:root{
    /* Declare global variables */
    --color-base-text: #254150;
    --color-secondary-text: #e5e5e5;
    --color-base-background-1:  rgb(201, 201, 201);
    --color-base-background-2:  rgb(201, 201, 201);
    --color-base-accent-1:  #098476;
    --color-base-accent-2:  #cae14c;

    --font-body-family: Assistant, sans-serif;
    --font-body-weight: 300;

    --color-button-accent-1:  #098476;
    --color-button-accent-2:  #cae14c;

    --rounded-corder-radius: 0.25em;

}

html{
    height:100%;
    min-width: 364px;
}

body{
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    height:calc(100vh - 164px);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-container{
    padding-top: 134px;
}

.header-logo{
    height:30px;
}

.text-secondary{
    color: var(--color-secondary-text);
}

a {
    color: #098476;
}

.background-gradient {
    background: linear-gradient(180deg,
      rgb(88 78 103) 0%,
      rgb(64 106 119) 30%,
      rgb(65 125 114) 80%,
      rgb(121 147 100) 95%,
      rgb(142 151 75) 100%);
    padding: 4rem 0 4rem;
}

/* section classes */
.section-narrow{
    max-width:930px;
}

/* Bootstrap Overwrited */
.display-1, .display-2, .display-3, .display-4{
    color: var(--color-base-text);
    font-family: var(--font-body-family);
    font-weight: calc(var(--font-body-weight) + 100);
    
}

.btn-primary{
    background-color: var(--color-base-accent-1);
    border-color: var(--color-base-accent-1);
    color: var(--color-secondary-text);
}

.btn-secondary{
    background-color: var(--color-base-accent-2);
    border-color: var(--color-base-accent-2);
    color: var(--color-base-text);
}

.card {
    border-radius: var(--rounded-corder-radius);
}

.rounded-l{
    border-radius: 
        var(--rounded-corder-radius)
        0px
        0px
        var(--rounded-corder-radius)
        !important;
}

.rounded-r{
    border-radius:
        0px
        var(--rounded-corder-radius)
        var(--rounded-corder-radius)
        0px
        !important;
}

.product-card .image-wrapper
{
    width:100%;
    aspect-ratio: 1;
    border-radius: var(--rounded-corder-radius);
    overflow: hidden;
}

.product-card .image-wrapper > img
{
    width:200%;
    aspect-ratio: 1;
    position: relative;
    left: -50%;
    top: -30%;
    
    transition: all 0.3s;
}

.product-card .image-wrapper > img:hover
{
    width: 300%;
    left: -100%;
    top: -87%;
}

.product-card .image-wrapper img{
    overflow: hidden;
}



/* media queries */
@media (min-width: 1200px){
    .container {
        max-width: 930px;
    }
}

@media (min-width: 992px){
    .fixed-top-desktop-only{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1080;
    }

    .header-container{
        padding-top: 120px;
    }
}