<div class="rating-container {{ override_text_alignment }}">
    
    {% if product.rating > 0 %}
        {% include 'snippets/rating_boxes.html' with rating=product.rating %}

        {% if show_link %}
        <a href="#reviews" class="reviews-link">Read reviews</a> or <a href="{% url 'add_review' product.id %}">write one!</a>
        {% endif %}

    {% else %}
        No reviews 
        {% if show_link %}
        - <a href="{% url 'add_review' product.id %}">be the first to leave your comments!</a>
        {% endif %}
    {% endif %}

</div>